# Tf-idf example

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

   good movie      like     movie       not
0    0.707107  0.000000  0.707107  0.000000
1    0.577350  0.000000  0.577350  0.577350
2    0.000000  0.707107  0.000000  0.707107
3    0.000000  1.000000  0.000000  0.000000
4    0.000000  0.000000  0.000000  0.000000

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts2 = [
    "bad movie", "boring  movie", "liked", 
    "she liked it", "good one", "great one!"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts2)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

,bad,bad movie,boring,boring movie,good,good one,great,great one,it,liked,liked it,movie,one,she,she liked
0,0.611713,0.611713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.501613,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.611713,0.611713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.501613,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.462625,0.379359,0.462625,0.000000,0.000000,0.462625,0.462625
4,0.000000,0.000000,0.000000,0.000000,0.611713,0.611713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.501613,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.611713,0.611713,0.000000,0.000000,0.000000,0.000000,0.501613,0.000000,0.000000

TF-IDF (term frequency-inverse document frequency) is a statistical measure that evaluates how relevant a word is to a document in a collection of documents.

This is done by multiplying two metrics: how many times a word appears in a document, and the inverse document frequency of the word across a set of documents.

3. Given the below documents. 

    texts = [
        "good movie", "not a good movie", "did not like", 
        "i like it", "good one"
    ]

Given the definition of TF and IDF, what is the sum of TF-IDF values for 1-grams in "good movie" text? Enter a math expression as an answer.

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1, max_df=0.5, ngram_range=(1, 1))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

        did        it      like     movie       not  one
0  0.000000  0.000000  0.000000  1.000000  0.000000  0.0
1  0.000000  0.000000  0.000000  0.707107  0.707107  0.0
2  0.659118  0.000000  0.531772  0.000000  0.531772  0.0
3  0.000000  0.778283  0.627914  0.000000  0.000000  0.0
4  0.000000  0.000000  0.000000  0.000000  0.000000  1.0

Term Frequency - TF 
Inverse Document Frequency - IDF 

TF = no. of repeated words in a sentence / no. of words in a sentence
IDF = log(no. of sentences/ no. of sentences containing words)

TF-IDF = tf * idf 

this has 3 parameters - terms , documents, no. of documents in corpus (t,d,D)